
PLOS-submission.eps

PLOS-submission-eps-converted-to.pdf

Photos/LEGO_Triceratops trapper parts.png

*.ai

CovLett.pdf

CovLett.tex

Image.tiff

PBIOLOGY-S-16-01339.pdf

Action required on your PLOS Biology manuscript - [EMID_be35df5c3bfcaca2].txt

Action required on your PLOS Biology manuscript - [EMID_be35df5c3bfcaca2].txt

Fig1.eps

Action required on your PLOS Biology manuscript - [EMID_be35df5c3bfcaca2].txt

Photos/Fig1.pdf

Action required on your PLOS Biology manuscript - [EMID_be35df5c3bfcaca2].txt

Photos/FW_Guto Balieiro_tucanodebicopreto.pdf

Chasing Ecological Interactions_Final.docx

*.docx

CovLett_R1.pdf

CovLett_R1.tex

DLange_Authorization.txt

Fig1_small.pdf

RespLett_R1.tex

RespLett_R1.pdf

Photos/DLange_Authorization.pages.pdf

CovLett_R2.pdf

CovLett_R2.tex

Photos/Authorizations_photos_CCBy.pdf

Photos/Authorizations_photos_CCBy.pdf

RespLett_R2.pdf

RespLett_R2.tex

Photos/Authorizations_photos_CCBy.pdf

Photos/Authorizations_photos_CCBy.pdf
